h1,h2,h3{
    font-family: 'Francois One', sans-serif;
}
.jumbotron >p{
    font-family: 'Francois One', sans-serif;
    margin-top: 150px;
}
.Nav>nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: darkgrey;
}
.Nav > nav > ul > li {
    float: left;
    width: 20%;
}

.Nav > nav > ul > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: 'Francois One', sans-serif;
}
.Nav > nav > ul > li > a:hover{
    background-color: #4FD0FC;
    color: white;
    text-decoration-line: none;
}
.Nav > nav > ul > li >img{
    max-height: 40px;
}
