@import "reset";

body {
  font-family: 'Francois One', sans-serif;
}

.page {
  min-height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  nav {
    background-color: #575555;
    height: 45px;
    ul {
      height: 45px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      &.right{
        float: right;
      }
      li {
        float: left;
        line-height: 45px;
        width: 20vw;
        &:hover {
          background-color: #4FD0FC;
          color: white;
          text-decoration-line: none;
        }
        &.brand {
          padding: 0;
          img {
            padding: 4px;
            height: 40px;
          }
          &:hover {
            background: white;
          }
        }
        a {
          display: block;
          color: white;
          text-align: center;
          font-family: 'Francois One', sans-serif;
        }
      }
    }
  }
}

footer {
  height: 64px;
  background-color: #575555;
  margin-top: 100px;
  line-height: 64px;
  text-align: center;
  font-size: 2em;
  a {
    padding: 0 10px;
    i {
      line-height: 64px !important;
      color: white;
      &:hover {
        color: rgba(255, 255, 255, .7);
      }
    }
  }
}

.index.page {
  h1, h2, h3 {
    font-family: 'Francois One', sans-serif;
  }
  .jumbotron {
    background: url('../img/backgrounds/index.jpeg') center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 30vh;
    p{
      font-family: 'Francois One', sans-serif;
      margin-top: 100px;
    }
  }
  h3{
    margin-top: 150px;
  }
}

.login.page {
  background: url('../img/backgrounds/index.jpeg') center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  form {
    height: 450px;
    border-radius: 25px;
    text-align: center;
    background-color: #575555;
    position: absolute;
    top: 50% ;
    left: 50%;
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
    transform: translate(-50%,-50%);
    .fab {
      color: white;
      font-size: 24px;
      margin-top: 10px;
      margin-left: 10px;
      &:hover {
        color: darkgrey;
      }
    }
    img{
      margin-top: 50px;
      width: 250px;
      overflow: hidden;
    }
    input {
      width: 80%;
      height: 48px;
      border-radius: 24px;
      border: 1px solid darkgrey;
      padding-left: 20px;
      font-family: 'Francois One', sans-serif;
      background-color: #575555;
      color: #a9a9a9;

      &:focus {
        outline-width: 0;
      }
      &[type=submit]{
        width: 40%;
        padding-left: 0;
        height: 36px;
        background-color: #575555;
        font-size: 12px;
        color: #4FD0FC;
        border: 1px solid darkgrey;
        text-align: center;
        &:hover {
          background-color: #656565;
        }
        }
      }
    }
    p {
      margin-top: 15px;
      color: darkgrey;
      a {
        color: darkgrey;
        font-size: 12px;
        text-decoration:underline;
        &:hover{
          color: white;
        }
      }
    }
  }
.signup.page {
  background: url('../img/backgrounds/index.jpeg') center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  form {
    height: 550px;
    border-radius: 25px;
    text-align: center;
    background-color: #575555;
    position: absolute;
    top: 50% ;
    left: 50%;
    width: 400px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.4);
    transform: translate(-50%,-50%);
    img{
      margin-top: 50px;
      width: 250px;
      overflow: hidden;
    }
    input {
      width: 80%;
      height: 48px;
      border-radius: 24px;
      border: 1px solid darkgrey;
      padding-left: 20px;
      font-family: 'Francois One', sans-serif;
      background-color: #575555;
      color: #a9a9a9;

      &:focus {
        outline-width: 0;
      }
      &[type=submit]{
        width: 40%;
        padding-left: 0;
        height: 36px;
        background-color: #575555;
        font-size: 12px;
        color: #4FD0FC;
        border: 1px solid darkgrey;
        text-align: center;
        &:hover {
          background-color: #656565;
        }
      }
    }
  }
  p {
    margin-top: 15px;
    color: darkgrey;
    a {
      color: darkgrey;
      font-size: 12px;
      text-decoration:underline;
      &:hover{
        color: white;
      }
    }
  }
}
.about{
main{
  .image{
    -webkit-background-size: cover;
    height: 100vh;
    width: 100%;
    background: url("../img/backgrounds/about.png") center center;
    background-size: cover;
    align-content: center;
    p{
      padding-top: 150px;
      text-align: center;
      font-size: 60px;
      color: white;
      text-shadow: 3px 3px black;
    }
  }
  .info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    p{
      border: 1px solid black;
      width: 100%;
      padding: 15px;
      color: #575555;
    }
  }
}
}
